html{height: 98%}
body{height: 98%}
#content{
	width: 800px;
	height: 98%;
	margin: 0px auto;
	padding-top: 0px;
	padding-left: 15px;
	padding-right: 15px;
	box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}
header{
	text-align: center;
}

hgroup{
	background: url(images/banner.jpg);
	background-position: center;
	background-repeat: no-repeat;
}